;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Feb 27 14:43:54 2010
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("database-" "acquire-from" "aceacquire" "ace" "release-to-conn" "release-topoo" "pool" "release-to-conn" "release-to-p" "release" "release-to" "pconn" "database-dis" "database-disco" "database-" "gene"))
(setq regexp-search-ring nil)
(setq register-alist '((48 . "(equal \"asdf\" \"ASdf\n\n)\")")))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "s:/home/nathan/.clsql-test.config"
  ".clsql-test.config"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  609
  '(591 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/generic-postgresql.lisp"
  "generic-postgresql.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  14627
  '(14583 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/pool.lisp"
  "pool.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2301
  '(2292 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/db-interface.lisp"
  "db-interface.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  18493
  '(18198 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/doc/ref-connect.xml"
  "ref-connect.xml"
  'sgml-mode
  '(global-auto-revert-mode)
  21806
  '(14769 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/generics.lisp"
  "generics.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  5865
  '(1291 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/x_registrationFormProcess.php"
  "x_registrationFormProcess.php"
  'php-mode
  '(abbrev-mode global-auto-revert-mode)
  2225
  '(3257 nil)
  nil
  nil
  '((tab-width . 3) (buffer-file-coding-system . undecided-dos) (overwrite-mode) (case-fold-search . t)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/includes/functions.php"
  "functions.php"
  'php-mode
  '(abbrev-mode global-auto-revert-mode)
  1590
  '(2490 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos) (case-fold-search . t)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/test.php"
  "test.php"
  'fundamental-mode
  '(global-auto-revert-mode)
  230
  '(82 nil)
  nil
  nil
  '((tab-width . 3) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/includes/monetraTrans.php"
  "monetraTrans.php"
  'fundamental-mode
  '(global-auto-revert-mode)
  214
  '(284 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/registrationThanks.php"
  "registrationThanks.php"
  'html-mode
  '(global-auto-revert-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/confirmRegistration.php"
  "confirmRegistration.php"
  'fundamental-mode
  '(global-auto-revert-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/index.php"
  "index.php"
  'fundamental-mode
  '(global-auto-revert-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/snpper/src/createdb.cl"
  "createdb.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  9299
  '(9367 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/genes.sql"
  "genes.sql"
  'sql-mode
  '(global-auto-revert-mode)
  1029
  '(629 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/importer-cache/gene2refseq.8784"
  "gene2refseq.8784"
  'fundamental-mode
  '(global-auto-revert-mode)
  3777
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos) (truncate-lines . t)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/accel/src/definitions.cl"
  "definitions.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1245
  '(608 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/snpper/src/interface.cl"
  "interface.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  64344
  '(63956 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/local-getaways/src/application-window.lisp"
  "application-window.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  6621
  '(6539 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/biodb/src/top.cl"
  "top.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  392
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/gainesville-green/src/caching.lisp"
  "caching.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1228
  '(1373 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/gainesville-green/src/entry-points.lisp"
  "entry-points.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2164
  '(72 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/gainesville-green/etc/apache.conf"
  "apache.conf"
  'apache-mode
  '(global-auto-revert-mode)
  1031
  '(536 nil)
  nil
  nil
  '((tab-width . 3) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/local-getaways/src/entry-points.lisp"
  "entry-points.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  9587
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWolf/src/adwclient/client-detail.lisp"
  "client-detail.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  9039
  '(9040 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWolf/src/application.lisp"
  "application.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWolf/src/contracts.lisp"
  "contracts.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1473
  '(1389 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWolf/src/adwclient/services.lisp"
  "services.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  8739
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ucw-buildnode/src/components/adw-component.lisp"
  "adw-component.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  501
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ucw-buildnode/src/app-modules/menued-application-module.lisp"
  "menued-application-module.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1176
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ucw-buildnode/src/entry-points.lisp"
  "entry-points.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3622
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWolf/src/adwclient/adw-contacts.lisp"
  "adw-contacts.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  26
  '(62 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-postgresql/postgresql-api.lisp"
  "postgresql-api.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  7272
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "d:/Projects/KatsuDojo/trunk/wwwRoot/includes/registrationVariables.php"
  "registrationVariables.php"
  'fundamental-mode
  '(global-auto-revert-mode)
  1157
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-mysql/mysql-sql.lisp"
  "mysql-sql.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2477
  '(3273 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/biodb/src/db.cl"
  "db.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  23403
  '(34055 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/accel/src/data-source.cl"
  "data-source.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  4969
  '(4843 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/accel/src/importers.cl"
  "importers.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2367
  '(1787 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/cl-json/src/encoder.lisp"
  "encoder.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  15390
  '(15704 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/cl-json/src/decoder.lisp"
  "decoder.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  5733
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/cl-json/src/common.lisp"
  "common.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1512
  '(4043 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-mysql/mysql-api.lisp"
  "mysql-api.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1252
  '(14187 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-mysql/clsql_mysql.c"
  "clsql_mysql.c"
  'c-mode
  '(abbrev-mode global-auto-revert-mode)
  2640
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-fddl.lisp"
  "test-fddl.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  13331
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql-uncontroversial.txt"
  "clsql-uncontroversial.txt"
  'text-mode
  '(global-auto-revert-mode)
  1289
  '(1873 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/bio/src/classes.cl"
  "classes.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  11822
  '(11398 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/biodb/src/create.cl"
  "create.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  12140
  '(12021 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/environments.cl"
  "environments.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  8898
  '(8816 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/modules.cl"
  "modules.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  14993
  '(15000 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/bio/src/seq.cl"
  "seq.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  39009
  '(38891 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/local-getaways/Rakefile"
  "Rakefile"
  'ruby-mode
  '(global-auto-revert-mode)
  1864
  '(834 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/sbcl/src/code/target-load.lisp"
  "target-load.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3143
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/systems.cl"
  "systems.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  14360
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/top.cl"
  "top.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1290
  '(1311 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/sbcl/src/compiler/main.lisp"
  "main.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  74044
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/accel/src/Defsys.cl"
  "Defsys.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/bio/src/top.cl"
  "top.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2968
  '(790 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/sql/src/sql-client.cl"
  "sql-client.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3582
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/snpper/src/seqview.cl"
  "seqview.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  41342
  '(41667 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/sbcl/src/code/deftypes-for-target.lisp"
  "deftypes-for-target.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1845
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/sbcl/src/compiler/policy.lisp"
  "policy.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  580
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/bio/src/smm.cl"
  "smm.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  19683
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/bio/src/dnaget.cl"
  "dnaget.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2861
  '(2825 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/sbcl/src/code/numbers.lisp"
  "numbers.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  37058
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/Defsys.cl"
  "Defsys.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/genephony-cvs/ends/src/Bootstrap.cl"
  "Bootstrap.cl"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ucw-buildnode/src/components/clsql/clsql-application-module.lisp"
  "clsql-application-module.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  520
  '(1517 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-postgresql-socket/postgresql-socket-sql.lisp"
  "postgresql-socket-sql.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  379
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-mysql/mysql-objects.lisp"
  "mysql-objects.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  2248
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/uffi/src/i18n.lisp"
  "i18n.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3555
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/uffi/clsql-uffi.lisp"
  "clsql-uffi.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3907
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/ChangeLog"
  "ChangeLog"
  'change-log-mode
  '(global-auto-revert-mode)
  1
  '(1 nil)
  nil
  nil
  '((show-trailing-whitespace . t) (tab-width . 8) (indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-unix) (fill-column . 74)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-i18n.lisp"
  "test-i18n.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  736
  '(1024 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/datasets.lisp"
  "datasets.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  910
  '(939 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/ds-employees.lisp"
  "ds-employees.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1652
  '(238 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/generic-odbc.lisp"
  "generic-odbc.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  150
  '(150 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-fdml.lisp"
  "test-fdml.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  264
  '(264 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/.bash_profile"
  ".bash_profile"
  'sh-mode
  '(global-auto-revert-mode)
  1068
  '(1000 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/.bashrc"
  ".bashrc"
  'sh-mode
  '(global-auto-revert-mode)
  239
  '(239 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-ooddl.lisp"
  "test-ooddl.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3887
  '(3887 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-oodml.lisp"
  "test-oodml.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  172
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/ADWCodeBase/misc/publish_lisp.rb"
  "publish_lisp.rb"
  'ruby-mode
  '(global-auto-revert-mode)
  7354
  '(7072 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-basic.lisp"
  "test-basic.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  334
  '(334 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/database.lisp"
  "database.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  150
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/utils.lisp"
  "utils.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  317
  '(317 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-odbc/odbc-api.lisp"
  "odbc-api.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  309
  '(309 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-postgresql/postgresql-sql.lisp"
  "postgresql-sql.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  312
  '(312 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/clsql-uffi.asd"
  "clsql-uffi.asd"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  3476
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-time.lisp"
  "test-time.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  27
  '(27 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/time.lisp"
  "time.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  150
  '(150 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/fddl.lisp"
  "fddl.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  15835
  '(12976 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-init.lisp"
  "test-init.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  7394
  '(264 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/expressions.lisp"
  "expressions.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  28319
  '(150 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/ooddl.lisp"
  "ooddl.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1942
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/db-odbc/odbc-sql.lisp"
  "odbc-sql.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  1561
  '(1443 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/tests/test-connection.lisp"
  "test-connection.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  66
  '(66 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "s:/home/nathan/lisp/clsql/sql/oodml.lisp"
  "oodml.lisp"
  'lisp-mode
  '(global-auto-revert-mode slime-mode eldoc-mode)
  5599
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

