persistence
elpa
*.elc
/server/
/projectile-bookmarks.eld
/places
projectile.cache
url
/custom.el
abbrev_defs
/smex-items
/ido.last
/recentf*
/session*
/request/curl-cookie-jar
/network-security.data
/auto-save-list/
/ac-comphist.dat
/.python-environments/
/.emacs.desktop*
